includes:
    - ./phpstan-baseline.neon
    - ./vendor/larastan/larastan/extension.neon
    - ./vendor/thecodingmachine/phpstan-safe-rule/phpstan-safe-rule.neon
    # - phar://phpstan.phar/conf/bleedingEdge.neon
    - ./vendor/phpstan/phpstan/conf/bleedingEdge.neon

parameters:

    level: 9

    #cache:
    #    nodesByStringCountMax: 0
    parallel:
        maximumNumberOfProcesses: 32
        jobSize: 20
        minimumNumberOfJobsPerProcess: 2


	#

    paths:
        - ./Modules

    ignoreErrors:
        - '#Unsafe usage of new static#'
        # - '#PHPDoc tag @mixin contains unknown class #'
        # - '#Static call to instance method Nwidart#'
        # - '#is used zero times and is not analysed#'
        # - "#^Unsafe usage of new static#"
        # - '#A facade root has not been set#'
        # - '#Vite manifest not found#'
        # - '#ViteManifestNotFoundException#'
        # - identifier: missingType.generics
        # - identifier: missingType.iterableValue
        # - identifier: larastan.noEnvCallsOutsideOfConfig


    excludePaths:
        - ./*/vendor/*
        - ./*/build/*
        - ./*/docs/*
        - ./*/Tests/*
        - ./*/tests/*
        - ./*/phpinsights.php
        - ./*/rector.php
        - ./Modules/Comment/packages/spatie/*
        - ./Modules/*/packages/*
        - ./*/*.blade.php
        #- ./Modules/Blog/*
        #- ./Modules/AI/*
        - ./Modules/Xot/app/Filament/Traits/HasXotTable.php



    bootstrapFiles:
        - ./phpstan_constants.php
        - ./vendor/amenadiel/jpgraph/src/config.inc.php

    scanFiles:
        - ./Modules/Xot/Helpers/Helper.php

    editorUrl: 'vscode://file/%%file%%:%%line%%'

    tmpDir: /tmp/phpstan
    checkUnusedViews: false
    # checkModelProperties: false
    # treatPhpDocTypesAsCertain: false
    # reportUnmatchedIgnoredErrors: false
    # checkOctaneCompatibility: false
