parameters:
    level: 1
    paths:
        - ./Modules/Xot
    excludePaths:
        - ./*/vendor/*
        - ./*/build/*
        - ./*/docs/*
        - ./*/Tests/*
        - ./*/tests/*
        - ./*/phpinsights.php
        - ./*/rector.php
        - ./Modules/Comment/packages/spatie/*
        - ./Modules/*/packages/*
        - ./*/*.blade.php
    editorUrl: 'vscode://file/%%file%%:%%line%%'
    treatPhpDocTypesAsCertain: false
    reportUnmatchedIgnoredErrors: false
