/vendor/
node_modules/
npm-debug.log
*.cache
*.phar
*.lock
package-lock.json
yarn-error.log

# Laravel 4 specific
bootstrap/compiled.php
app/storage/

# Laravel 5 & Lumen specific
public/storage
public/hot

# Laravel 5 & Lumen specific with changed public path
public_html/storage
public_html/hot

storage/*.key
.env
Homestead.yaml
Homestead.json
/.vagrant
.phpunit.result.cache
*.cache

.git-rewrite
/.git-rewrite

vendor/
vendor
*.lock
package-lock.json
composer.lock
*.log
package-lock.json

build/
/build
/.git-rewrite
*.phar
*.lock
.git-blame-ignore-revs
package-lock.json
.php-cs-fixer.cache
package-lock.json
.git-rewrite/
/docs/cache
node_modules






docs/cache/
cache/
